$main-color: #2c3e50;

.title {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    background-color: $main-color;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 16px;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: -42px;
    border-radius: 50%;
    z-index: 9;
    transform: translateX(-50%);
    background-color: white;
    color: $main-color;
  }
}

.inner{
    position: relative;
    cursor: pointer;
    &:hover .layer{
        opacity: 1;
    }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(teal, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 150px;
  transition: .3s;
  opacity: 0;
}
